<form (ngSubmit)="togglePopup($event)">
    <div class="row-md-6">
        <div class="buttonHolder">
            <button type="submit">
                <i class="fas fa-shopping-cart cart-icon"></i>
                <h2>|</h2>
                Add to Cart
            </button>
        </div>
    </div>

    <div class="row-md-6 d-flex">
        <div class="col-md-5">
            <label for="date">Date</label>
            <input type="date" id="date" [min]="getToday()">
        </div>
        <div class="col-md-7">
            <label for="address">A sunny place</label>
            <input class = "sunny-place" type="text" id="address">
        </div>
    </div>

    <div class="row-md-6">
        <label for="email">Email Address <small>Required</small></label>
        <input type="email" id="email" required>
    </div>

    <div class="row-md-6">
        <label for="description">Reason for wanting it to be sunny <small>Required</small></label>
        <input type="text" placeholder="Please write in as much detail as possible" id="description" required>
    </div>
</form>
