
<div class="container p-0">
  <app-submit-popup></app-submit-popup>
  <div class="row m-0 h-50">
  </div>
  <div class="row m-0 h-50">
    <div class="col-md-7 p-0">
    </div>
    <div class="col-md-5 p-0 w-40 sunny-col">
        <div class="sun-container">
          <h3>¥3,400 <small>(Tax Included)</small></h3>
          <p>If you are having trouble with the rain, a 100% sunny girl will bring you sun😄. What kind of place...</p>
          <app-sunshine-request-form></app-sunshine-request-form>
        </div>  
    </div>
  </div>
</div>

<app-footer></app-footer>

<router-outlet></router-outlet>
